/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.parent-container {
  padding: 35px 70px;
}
@media screen and (max-width: 600px) {
  .parent-container {
    padding: 10px 10px;
  }
}
